USE [master]
GO
/****** Object:  Database [Esercizio1]    Script Date: 24/02/2025 15:19:55 ******/
CREATE DATABASE [Esercizio1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Esercizio1', FILENAME = N'C:\Users\rizzo\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Esercizio1_log', FILENAME = N'C:\Users\rizzo\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Esercizio1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Esercizio1]
GO
/****** Object:  Table [dbo].[cantiere_table]    Script Date: 24/02/2025 15:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cantiere_table](
	[id_cantiere] [int] NOT NULL,
	[denominazione_cantiere] [varchar](100) NOT NULL,
	[indirizzo] [varchar](100) NOT NULL,
	[città] [varchar](50) NOT NULL,
	[cap] [char](5) NOT NULL,
	[persona_riferimento] [varchar](100) NOT NULL,
	[data_inizio_lavori] [datetime2](7) NOT NULL,
	[data_fine_lavori] [datetime2](7) NULL,
	[lavori_terminati] [bit] NOT NULL,
 CONSTRAINT [PK_cantiere_table] PRIMARY KEY CLUSTERED 
(
	[id_cantiere] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente_table]    Script Date: 24/02/2025 15:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente_table](
	[id_cliente] [int] NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cognome] [varchar](50) NOT NULL,
	[data_nascita] [datetime2](7) NOT NULL,
	[sesso] [char](1) NOT NULL,
	[cf] [char](16) NOT NULL,
	[p_iva] [char](11) NULL,
	[attivo] [bit] NOT NULL,
	[saldo] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operaio_table]    Script Date: 24/02/2025 15:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operaio_table](
	[id_dipendente] [int] NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cognome] [varchar](50) NOT NULL,
	[cf] [char](16) NOT NULL,
	[figli_a_carico] [bit] NOT NULL,
	[sposato] [bit] NOT NULL,
	[livello_lavorativo] [varchar](20) NOT NULL,
	[descrizione_mansione] [text] NULL,
	[salario] [decimal](10, 2) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
