USE [master]
GO
/****** Object:  Database [azienda_1]    Script Date: 27/02/2025 14:46:10 ******/
CREATE DATABASE [azienda_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'azienda_1', FILENAME = N'C:\Users\rizzo\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\azienda_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'azienda_1_log', FILENAME = N'C:\Users\rizzo\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\azienda_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [azienda_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [azienda_1]
GO
/****** Object:  Table [dbo].[impiegato]    Script Date: 27/02/2025 14:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impiegato](
	[id_impiegato] [int] IDENTITY(1,1) NOT NULL,
	[cognome] [nvarchar](50) NULL,
	[nome] [nvarchar](50) NULL,
	[cf] [nvarchar](17) NULL,
	[eta] [int] NULL,
	[reddito_mensile] [decimal](10, 2) NULL,
	[detrazione_fiscale] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_impiegato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[impiego]    Script Date: 27/02/2025 14:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impiego](
	[id_impiego] [int] IDENTITY(1,1) NOT NULL,
	[tipo_impiego] [nvarchar](50) NULL,
	[assunzione] [datetime2](7) NULL,
	[id_impiegato] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_impiego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[impiego]  WITH CHECK ADD FOREIGN KEY([id_impiegato])
REFERENCES [dbo].[impiegato] ([id_impiegato])
ON DELETE CASCADE
GO
USE [master]
GO
